<script id="options_board" type="text/html">

    <table>
        
        <thead>
            <tr>
                <th colspan="8">
                    <%= t '.call' %>
                </th>
                <th colspan="2">
                </th>
                <th colspan="8">
                    <%= t '.put' %>
                </th>
            </tr>
            
            <tr>
                <td rowspan="2">
                    <%= t '.trades' %>
                </td>
                <td rowspan="2">
                    <%= t '.open_positions' %>
                </td>
                <td colspan="3" class="last">
                    <%= t '.last_trade' %>
                </td>
                <td rowspan="2">
                    <%= t '.buy' %>
                </td>
                <td rowspan="2">
                    <%= t '.sell' %>
                </td>
                <td rowspan="2">
                    <%= t '.theory_price' %>
                </td>
                <td rowspan="2">
                    <%= t '.strike' %>
                </td>
                <td rowspan="2">
                    <%= t '.iv' %>
                </td>
                <td rowspan="2">
                <%= t '.theory_price' %>
                </td>
                <td rowspan="2">
                <%= t '.buy' %>
                </td>
                <td rowspan="2">
                    <%= t '.sell' %>
                </td>
                <td colspan="3" class="last">
                <%= t '.last_trade' %>
                </td>
                <td rowspan="2">
                    <%= t '.trades' %>
                </td>
                <td rowspan="2">
                <%= t '.open_positions' %>
                </td>
            </tr>
            <tr>
                <td>
                    <%= t '.price' %>
                </td>
                <td>
                    <%= t '.time' %>
                </td>
                <td>
                    <%= t '.change' %>
                </td>
                <td>
                    <%= t '.price' %>
                </td>
                <td>
                    <%= t '.time' %>
                </td>
                <td>
                    <%= t '.change' %>
                </td>
            </tr>
        </thead>
        
        <tbody>
        </tbody>
        
        <tfoot>
           <tr>
               <td></td>
               <td></td>
               <th colspan="14">
                   Итого
               </th>
               <td></td>
               <td></td>
           </tr>         
        </tfoot>
        
    </table>

</script>
