<script id="security_info" type="text/html">
    <div class="security_info clearfix">
        <div class="block left">
            <h4 class="description_title"><%= t '.description' %></h4>
            <div class="description_container">
            </div>
        </div>
        
        <div class="block left">
            <div class="wrapper">
                <h4 class="emitter_title"><%= t '.emitter' %></h4>
                <div class="emitter_container table_wrapper">
                </div>

                <h4 class="boards_title"><%= t '.boards' %></h4>
                <div class="boards_container table_wrapper">
                </div>

                <h4 class="emitter_securities_title"><%= t '.emitter_securities' %></h4>
                <div class="emitter_securities_container">
                </div>
            </div>
        </div>
        
        <div class="block right">
            <h4 class="orderbook_title"><%= t '.orderbook' %></h4>
            <div class="orderbook_container">
            </div>
        </div>
    </div>
</script>
