<script id="table_ticker_aux" type="text/html">
    <div class="tabs">
        <ul class="clearfix">
            <li class="tab" data-key="security_description">
                <a href="#" class="local"><%= t ".instrument_info" %></a>
            </li>
            <li class="tab" data-key="options_board" style="display: none;">
                <a href="#" class="local"><%= t '.options_board' %></a>
                &nbsp;
                <span class="expirations"></span>
            </li>
            <li class="button right remove_from_chart" data-key="remove_from_chart">
                <a href="#" class="local"><%= t '.remove_from_chart' %></a>
            </li>
            <li class="button right add_to_chart" data-key="add_to_chart">
                <a href="#" class="local"><%= t '.add_to_chart' %></a>
            </li>
            <li class="button right remove_from_table" data-key="remove_from_table">
                <a href="#" class="local"><%= t '.remove_from_table' %></a>
            </li>
        </ul>
    
        <div data-key="security_description" class="security_info" style="display: none;">
        </div>
    
        <div data-key="options_board" class="security_options_board" style="display: none;">
        </div>
    </div>
</script>
