<!DOCTYPE html>
<html>
    <head>
      <title>MxData</title>
      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "application" %>
      <script type="text/javascript">mx.locale("<%= I18n.locale %>") ; mx.I18n.locale = "<%= I18n.locale %>"; $(function(){shared.user($('#auth'))})</script>
      <%= csrf_meta_tags %>
      <meta name="viewport" content="width=1240" />
      <link rel="shortcut icon" href="http://assets.micex.ru/favicon.ico" />
    </head>
    <body lang="<%= I18n.locale %>">

        <div id="body">
            <%= render 'shared/header' %>
        
            <div id="content">
                <%= yield %>
            </div>
        </div>
    
        <%= render 'shared/footer' %>

    </body>
</html>
