<!DOCTYPE html>
<html>
    <head>
      <title>MxData</title>
      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "application" %>
      <%= javascript_include_tag "http://assets.micex.ru/widgets/assets/mx.auth.js" %>
      <%= csrf_meta_tags %>
      <meta name="viewport" content="width=1240" />
    </head>
    <body lang="<%= I18n.locale %>">

        <div id="body">
            <%= render 'shared/header' %>
        
            <div id="content">
                <%= yield %>
            </div>
        </div>
    
        <%= render 'shared/footer' %>

    </body>
</html>
